[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
llama-index-readers-web = "*"
python-dotenv = "*"
pinecone-client = "*"
llama-index-vector-stores-pinecone = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
